<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid black;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Users list</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <!-- Итерация по списку пользователей и вывод информации -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <!-- Ссылка для перехода к странице с информацией о пользователе -->
            <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-info">Подробнее</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/users/new}" class="btn btn-primary">Создать нового пользователя</a>

</body>
</html>